@font-face {
    font-family: 'RedHatDisplay-Regular';
    src: url('../../assets/fonts/RedHatDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RedHatDisplay-Bold';
    src: url('../../assets/fonts/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RedHatDisplay-Italic';
    src: url('../../assets/fonts/RedHatDisplay-Italic.ttf') format('truetype');
}

body {
    background-color: #000000 !important; /* Dark background */
    color: #FDD966 !important; /* Light text */
    font-family: 'RedHatDisplay-Regular', sans-serif !important; /* Default font */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RedHatDisplay-Bold', sans-serif !important;
    color: #FDD966 !important; /* Ensure headings are readable */
}

a {
    color: #FDD966 !important;
    text-decoration: none;
}

a:hover {
    color: #FFD700 !important; /* Highlight color on hover */
}

.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: $sidebar-color;
  
    @include mq(md) {
      flex-flow: column nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      border-right: $border $border-color;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
      min-width: $nav-width;
    }
  }

// Ensure the logo image is displayed correctly
.site-logo {
    display: inline-block;
}

// Adjust the size of the logo
.site-logo img {
    width: 150%;
    height: 150%;
}

// Adjust the size of the logo with higher specificity
.navbar .site-logo img {
    max-width: 200px !important; // Set the maximum width as desired
    height: auto !important;     // Maintain aspect ratio
}
