<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header class="navbar">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/logo_black.png" alt="PolyEdge Logo">
            {{ site.title }}
        </a>
    </header>
    <div class="container">
        <aside class="sidebar">
            {% include toc.html %}
        </aside>
        <main>
            {{ content }}
        </main>
    </div>
    {% include footer.html %}
</body>
</html>
